<div class="container-fluid">
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="navbar-brand mb-0 h1">
      <a [routerLink]="['../']">
        <fa-icon [icon]="faArrowLeft" class="btn-outline-arrow-header"></fa-icon>
      </a>
      {{retroName}}
    </div>
  </nav>
  <div class="container-fluid main-container">

    <div class="row top-row">

      <div class="col-4">
        <h3 class="text-center p-3">
          Things That Went Well:
        </h3>
        <div class=" text-center p-3">
          <app-item-form [(retroId)]="id" itemType="GOOD"></app-item-form>
        </div>
        <div id="htmlDataGoodItems" #htmlDataGoodItems>
          <div *ngFor="let item of retroService.items"
               [ngClass]="{'bg-opacity': item.itemFlag, 'bg-good': !item.itemFlag}"
               class="card bg-good text-center p-3 item-card">
            <div class="card-body">
              <a>{{item.description}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <h3 class="text-center p-3">
          Questions About The Sprint:
        </h3>
        <div class="text-center p-3">
          <app-item-form [(retroId)]="id" itemType="QUESTION"></app-item-form>
        </div>
        <div id="htmlDataQuestionItems" #htmlDataQuestionItems>
          <div *ngFor="let item of retroService.items"
               [ngClass]="{'bg-opacity': item.itemFlag, 'bg-question': !item.itemFlag}"
               class="card bg-question text-center p-3 item-card">
<!--            <a class="vote">{{item.itemVotes}}</a>-->
            <div class="card-body">
              <a>{{item.description}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <h3 class="text-center p-3">
          Things That Did Not Go So Well:
        </h3>
        <div class="text-center p-3">
          <app-item-form [(retroId)]="id" itemType="BAD"></app-item-form>
        </div>
        <div id="htmlDataBadItems" #htmlDataBadItems>
          <div *ngFor="let item of retroService.items"
               [ngClass]="{'bg-opacity': item.itemFlag, 'bg-bad': !item.itemFlag}"
               class="card bg-bad text-center p-3 item-card">
<!--            <a class="vote">{{item.itemVotes}}</a>-->
            <div class="card-body">
              <a>{{item.description}}</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row bottom-row" id="bottom-row">
      <div class="col-12">
        <h2 class="text-center" id="action-item-title">Action Items</h2>
        <app-action-item-form [(retroId)]="id"></app-action-item-form>
        <div class="container-fluid action-items-div">
          <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1" id="htmlDataActionItems" #htmlDataActionItems>
            <div *ngFor="let actionItem of actionItems" class="col">
              <div class="card bg-action-item">
                <div class="card-body">
                  <a>{{actionItem.description}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
