.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

.form-rounded {
  border-radius: 1rem;
}

input {
  font-size: 14pt;
}
