.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
input{
  font-size: 14pt;
}

.retro-app {
  margin-top: 5%;
}

#bottom-row {
  margin-top: 2%;
}

#retro-input {
  margin-top: 2%;
  width: 100%;
}

.bi-check {
  float: right;
}

.card {
  margin-top: 3%;
}

.bg-bad {
  background-color: #F78888;
}

.bg-archive {
  background-color: #90CCF4;
}

.page-header {
  padding-top: 5rem;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
}
.retro-details{
  font-size: 14pt;
}

.home-page-nav {
  color: white;
}

.archive-nav {
  padding-left: 56px;
  color: white;
}

.nav-title {
  padding: 12px;
}

.bg-enter {
  background-color: #bddba8;
}
