.retro-app {
  margin-top: 5%;
}

#bottom-row {
  margin-top: 2%;
}

.bi-check {
  float: right;
}

.card {
  margin-top: 3%;
}

.bg-action-item {
  background-color: #90CCF4;
}

.home-page-nav {
  color: white;
}

.archive-nav {
  padding-left: 56px;
  color: white;
}

.nav-title {
  padding: 12px;
}

.search-bar {
  padding-top: 60px;
}

.bg-unarchive {
  background-color: #90CCF4;
}

.bg-enter {
  background-color: #bddba8;
}
input{
  font-size: 14pt;
}
.archived-retro-details{
  font-size: 14pt;
}
.search{
  padding-top: 2rem;
}

.logo-home-page-nav{
  padding-right: 56px;
}
