.retro-app {
  margin-top: 5%;
}

#bottom-row {
  margin-top: 2%;
}

.bi-check {
  float: right;
}

.card {
  margin-top: 3%;
}

.bg-action-item {
  background-color: #90CCF4;
}

.home-page-nav {
  color: white;
}

.archive-nav {
  padding-left: 56px;
  color: white;
}

.sentiment-nav {
  padding-left: 56px;
  color: white;
}

.nav-title {
  padding: 12px;
}

.logo-home-page-nav {
  padding-right: 56px;
}

.page-header {
  padding-top: 5rem;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
}
